{% extends 'base.html.twig' %}

{% block title %}Les recettes de Marinette - Nouvel ingrédient{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Création d'un ingrédient</h1>

        {% if form.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'data-turbo': 'false'}}) }}

            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                <div class="form-error">
                    {{ form_errors(form.price) }}
                </div>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary mt-4" value="Enregistrer cet ingrédient">
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
